{# ------------------------------------------------ #}
{# Mollo Clear Cache Block #}
{# ------------------------------------------------ #}


<div class="mollo-clear-cache-block">
  <a href="{{ path('mollo_utils.clear_cache') }}" class="use-ajax">
    <div class="mollo-button mollo-button-clear-cache">
      {# Icon #}
      <span class="mollo-button-icon"><i class="fas fa-sync-alt"></i></span>
      {# Label #}
      <span class="mollo-button-label">Clear Cache</span></div>
  </a>
</div>
